.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
}

h1 {
  margin: 0;
}

h2 {
  margin-top: auto;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background-color: #88d699;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 10px 0px;
  border-radius: 3px;
  font-weight: bolder;
  font-family: 'Exo', sans-serif;
  text-align: center;
}

button:hover {
  background-color: #74b983;
}