.card-buttons {
  text-align: center;
}

.skip-button, .next-button {
  margin: 20px 20px 0 20px;
  font-size: 24px;
}

.next-button:disabled {
  background-color: gray;
}

.skip-button {
  background-color: rgb(224, 134, 134);
}

.skip-button:hover {
  background-color: rgb(209, 102, 102);
}

.skip-button:active {
  background-color: rgb(196, 53, 53);
}

@media (max-width: 620px) {
  .skip-button, .next-button {
    margin: 10px 20px 0 20px;
  }
}
