* {
  box-sizing: border-box;
  /* font-family: 'Exo', sans-serif; */
}

html, body, #root {
  height: 100%;
}

body {
  margin: auto;
  padding: 0;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  background-image: url("https://www.xmple.com/wallpaper/grey-3d-cubes-brown-white-1920x1080-c3-ffffff-d2b48c-808080-l-196-a-120-f-11.svg");
}
