.user-onboarding {
  width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  border-radius: 3px;
  margin: auto;
}

.user-onboarding-copy {
  margin-bottom: 20px;
}

.onboarding-link {
  font-weight: bold;
}

@media (max-width: 620px) {
  .user-onboarding {
    width: 90%;
  }
}